############################
#         General          #
############################
LOG_LEVEL=INFO
PROXY_URL=http://10.0.0.1:8080
QDRANT_URL=http://qdrant:6333
POSTGRESQL_URL=postgresql+psycopg2://user:password@postgres:5432/mydb
EMBEDDING_MODEL_NAME=model_name
EMBEDDING_BASE_URL=https://api.openai.com/v1
FILES_STORAGE_PATH=files/

############################
#         Redis            #
############################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=admin
REDIS_MAX_CONNECTIONS=10
REDIS_DECODE_RESPONSES=True

############################
#          Celery          #
############################
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_TRACK_STARTED=True
CELERY_WORKER_MAX_TASKS_PER_CHILD=200