############################
#         General          #
############################
ENVIRONMENT=production
LOG_LEVEL=INFO
SQL_LOG=True
AUTOMATION_API_TOKEN=automation_token
PROXY_URL=http://10.0.0.1:8080
FILES_STORAGE_PATH=files/

############################
#        PostgreSQL        #
############################
POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_USER=user
POSTGRESQL_PASSWORD=password
POSTGRESQL_DB=mydb

############################
#         Redis            #
############################
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=admin
REDIS_MAX_CONNECTIONS=10
REDIS_DECODE_RESPONSES=True

############################
#          Celery          #
############################
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_SERIALIZER=json
CELERY_RESULT_SERIALIZER=json
CELERY_RESULT_EXPIRES=86400
CELERY_TRACK_STARTED=True
CELERY_WORKER_MAX_TASKS_PER_CHILD=200

############################
#          Qdrant          #
############################
QDRANT_URL=http://qdrant:6333
QDRANT_SIZE=384
QDRANT_DISTANCE=
QDRANT_SHARD_NUMBER=1
QDRANT_REPLICATION_FACTOR=1
QDRANT_ON_DISK_PAYLOAD=True
QDRANT_NODE_CONEXIONS_NUMBER=16
QDRANT_EF_CONSTRUCT=200

############################
#         Embedding        #
############################
EMBEDDING_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
EMBEDDING_BASE_URL=http://embeddings/v1
EMBEDDING_CHUNK_SIZE=100
EMBEDDING_CHUNK_OVERLAP=20